body {
  background-image: url('https://images.pexels.com/photos/1209658/pexels-photo-1209658.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}

.title {
  color: red;
  font-size: 5rem;
  font-family: cursive;
  text-align: center;
}

.link {
  padding-left: 50%;
  color: red;
  font-family: cursive;
  font-size: 3rem;
  animation: flashing-text 1s linear infinite;
}

@keyframes flashing-text {
  50% {
    color: indigo;
  }
}

.link:hover {
  color: blue;
}

.titel:hover {
  color: blue;
}

.box {
  width: 500px;
  height: 350px;
  border-style: dotted;
  border-color: green;
  border-radius: 50px;
}

.image {
  width: 20%;
}

#boxed-img {
  width: 50%;
}
